In [28]:
import numpy as np
import pandas as pd

df=pd.DataFrame({
    "x":[1,2,3,4,5],
    "y":[3,4,2,4,5]
})
mean_x = sum(x) / len(x)
mean_y = sum(y) / len(y)

print("Mean of x:", mean_x)
print("Mean of y:", mean_y)

df['y-ybar'] = df['y'] - mean_y
df['(y-ybar)squr'] = df['y-ybar'] ** 2

df

Mean of x: 3.0
Mean of y: 3.6

   x  y  y-ybar  (y-ybar)squr
0  1  3    -0.6          0.36
1  2  4     0.4          0.16
2  3  2    -1.6          2.56
3  4  4     0.4          0.16
4  5  5     1.4          1.96

In [26]:
def LinearRegression(X,y,x_m,y_m):
    num=0
    den=0
    n=len(X)
    for i in range(n):
        num=num+(X[i]-x_m)*(y[i]-y_m)
        den=den+(X[i]-x_m)**2
    m=num/den
    c=y_m-m*x_m
    return m,c
m, c = LinearRegression(df['x'], df['y'], mean_x, mean_y)

print(f"Slope (m): {m}")
print(f"Intercept (c): {c}")

Slope (m): 0.4
Intercept (c): 2.4

In [18]:
print(f"y={m}x+{c}")

y=0.4x+2.4

In [29]:
def Predict(X):
    y_p=[]
    for i in range(len(X)):
        y_p.append(m*X[i]+c)
    return y_p
y_p=Predict(df['x'])
y_p

[2.8, 3.2, 3.6, 4.0, 4.4]

In [31]:

def R_Square(y_p,y_sq,mean_y,y):
    num=0
    den=0
    for i in range(len(y_p)):
        num=num+(y_p[i]-mean_y)**2
        den=den+y_sq[i]
    return 1-num/den
r2=R_Square(y_p,df['(y-ybar)squr'],mean_y,df['y'])
r2

0.6923076923076922

In [34]:
print(f"R_Square_Score:{r2:.2f}")

R_Square_Score:0.69